.post-in-post-list{
    background-color: #c0c0c0;
    border-top: 1px solid #000000;

}
ul.info-messages {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background:#347bb7;
    border: 2px solid #21527b ;
    border-radius: 10px;

}

ul.info-messages li {
    display: block;
}

ul.error-messages {

    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background: #f90f0c;
    border: 2px solid #9d0c0b ;
    border-radius: 10px;

}

ul.error-messages li {
    display: block;
}
#header-right-bar-a{
    display: inline-block;
}
#currentPostHeader{
    display: inline-block;
    overflow:hidden;
    white-space:nowrap;
    margin-top: 0;
    margin-bottom: 0;
    text-overflow:ellipsis;
    display: inline-block;
}